body {
  width: 80%;
  margin: auto;
  margin-top: 130px;
  text-align: center;
}

.main-header {
  text-align: center;
  font-size: 56px;
}

.fa-solid {
  font-size: 300px;
  margin-top: 110px;
}

.estimated {
  margin-top: 120px;
}

.pickup {
  font-size: 42px;
  margin: 0;
}

.pickup-time {
  font-size: 38px;
  margin: 0;
}

.description {
  font-size: 38px;
  text-align: center;
  margin-top: 100px;
}

.home {
  background-color: white;
  width: 45%;
  height: 70px;
  font-size: 32px;
  margin: 120px auto;
  border-radius: 50px;
  border: none;
  display: inherit;
  cursor: pointer;
}
