body {
  flex-direction: column;
}

nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: rgb(211, 207, 207, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav form {
  font-size: 1.5em;
  width: 150px;

}

.menu-organizer button {
  height: 2em;
  width: 150px;
  border-radius: 3px;
}

button {
  color: white;
  background-color: rgb(0, 37, 202);
  border: none;
  box-shadow: 2px 5px 7px black;
}

main {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  border:2px solid black;
  background-color: bisque;
  max-width: 700px;

  width: 95%;
  margin: 1.6em auto;
}

.menu-item img {
  max-height: 175px;
  margin: 1em 5%;
}

.food-item-header {
  display: flex;
  flex-direction: row;
}

.food-item-header div {
  max-width: 70%;
}

.food-item-header h3 {
  font-size: 2em;
}

.food-item-header p {
  max-width: 80%;
}

.food-item-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.food-item-footer h4 {
  font-size: 1.5em;
  margin-right: 2em;
}

.food-item-footer div {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  margin-right: 1em;
  align-items: center;
}

.increment-food {
  font-size: 1.3em;
  width: 2em;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(72, 95, 197);
  border: 2px solid black;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: none;
}
